.Meanings h3 {
  font-size: 25px;
  margin: 15px 0 15px 0;
  font-weight: 700;
}

.Meanings .example {
  font-size: 13px;
  color: rgb(114, 113, 113);
}

.Meanings .definition {
  margin-bottom: 0;
  font-weight: 500;
}

.Meanings .word {
  color: rgb(206, 113, 235);
}

hr {
  color: rgb(194, 189, 189);
}
