.Meanings h3 {
  font-size: 25px;
  margin: 30px 0 15px 0;
}

.Meanings .example {
  font-size: 13px;
}

.Meanings .synonymsHeading {
  font-size: 13px;
}

.Meanings .definition {
  margin-bottom: 0;
}
