.Results .word-result {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: black;
  font-family: "Abril Fatface", cursive;
}

.Results-container {
  margin: 20px 0 20px 0;
}

section {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px 40px 40px;
  border: 1px solid rgb(206, 113, 235);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
