.Search .container {
  max-width: 400px;
  margin: 12px auto;
}

.Search .btn {
    border: 1px solid rgb(206, 113, 235);
  background-color: white;
  color: rgb(206, 113, 235);
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Search .btn:hover {
    background-color: rgb(206, 113, 235);
  border: none;
  color: white;
  transition: all 80ms ease-in-out;
}

.Search .search-bar {
  border: 1px solid rgb(206, 113, 235);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
